<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mealproject.mealplanner17">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/meal_planner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">

        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MyFavoriteMealsActivity"
            android:exported="false" />
        <activity
            android:name=".API.RecipeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.Register"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Auth.Login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Breakfast.BreakfastActivity" />
        <activity android:name=".Breakfast.BreakfastGenerateActivity" />
        <activity android:name=".Breakfast.BreakfastFavoriteActivity" />
        <activity
            android:name=".Breakfast.BreakfastViewDataActivity"
            android:exported="false" />
        <activity android:name=".LunchActivities.LunchFavoriteActivity" />
        <activity android:name=".LunchActivities.LunchGenerateActivity" />
        <activity android:name=".LunchActivities.LunchActivity" />
        <activity android:name=".DinnerActivity" />
        <activity android:name=".DinnerGenerateActivity" />
        <activity android:name=".DinnerFavoriteActivity" />
        <activity
            android:name=".DinnerViewDataActivity"
            android:exported="false" />
        <activity android:name=".LunchActivities.LunchViewDataActivity" />
        <activity android:name=".ProfileActivity" />
    </application>

</manifest>