<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mealproject.mealplanner17">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/meal_planner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">
        <activity
            android:name="com.mealproject.mealplanner17.MyFavoriteMealsActivity"
            android:exported="false" />
        <activity
            android:name="com.mealproject.mealplanner17.API.RecipeDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.mealproject.mealplanner17.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.mealproject.mealplanner17.Auth.Register"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name="com.mealproject.mealplanner17.Auth.Login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mealproject.mealplanner17.Breakfast.BreakfastActivity">
        </activity>
        <activity
            android:name="com.mealproject.mealplanner17.Breakfast.BreakfastGenerateActivity">
        </activity>
        <activity
            android:name="com.mealproject.mealplanner17.Breakfast.BreakfastFavoriteActivity">
        </activity>
        <activity
            android:name="com.mealproject.mealplanner17.Breakfast.BreakfastViewDataActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="com.mealproject.mealplanner17.LunchActivities.LunchFavoriteActivity">
        </activity>
        <activity
            android:name="com.mealproject.mealplanner17.LunchActivities.LunchGenerateActivity">
        </activity>
        <activity
            android:name="com.mealproject.mealplanner17.LunchActivities.LunchActivity">
        </activity>
        <activity
            android:name="com.mealproject.mealplanner17.DinnerActivity">
        </activity>
        <activity
            android:name="com.mealproject.mealplanner17.DinnerGenerateActivity">
        </activity>
        <activity
            android:name="com.mealproject.mealplanner17.DinnerFavoriteActivity">
        </activity>
        <activity
            android:name="com.mealproject.mealplanner17.DinnerViewDataActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="com.mealproject.mealplanner17.LunchActivities.LunchViewDataActivity">
        </activity>


        <activity
            android:name="com.mealproject.mealplanner17.ProfileActivity">
        </activity>
    </application>

</manifest>
